# example # teste Brilhante
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

NUXT_BASE_URL=

AUTH_SECRET=
AUTH_ROUNDS=10

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

DATABASE_URL=

R2_PUBLIC_URL
R2_TOKEN=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_DEFAULT_URL=
R2_BUCKET=